version: '3.9'

services:

  web:
      build: .
      container_name: dormparcel-web
      ports:
        - "5000:5000" 
      depends_on:
        db:
          condition : service_healthy
      volumes:
        - ./:/app
      command: >
        sh -c "flask run --host=0.0.0.0 --port=5000 --debug"
      restart: unless-stopped

  db:
    image: postgres:16
    container_name: dormparcel-db
    restart: unless-stopped
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./dorm_parcel_schema.sql:/docker-entrypoint-initdb.d/dorm_parcel_schema.sql
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 3s
      retries: 10

volumes:
  pgdata: